*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: AtlasGrotesk, sans-serif;
}
/* header */
 .fab{
    color:#0061ff ;
}
.float-left{
    float: left;
    margin-left: 25px;
    font-size: 20px;
}
.float-right{
    float: right;
    font-size: 18px;
}
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}
.container{
    width: 100%;
    
    margin: 0 auto;
}


header{
    
    line-height: 70px;

}
nav{
    text-align: center;
    margin-left: 10px;
    height: 70px;
    

}

li{
    display: inline-block;
    margin: 0px 15px;
}
nav li a{
    text-decoration: none;
    
    font-size: 18px;
    
    
}
.btn{
    margin:0 35px
}
a{
    text-decoration: none;
    color: black;
}
#start{
    background-color:#0061ff;
    padding: 10px;
    color: white;
}

/* jumbotron */
.jumbotron{
    height: 800px;
    background-color:#b4d0e7 ;
    position: relative;
}
.title-jumbotron{
    max-width: 1200px;
font-size: 30px;
margin-left: 170px;
padding-top: 80px;

}
.jumbo-text{
    max-width: 410px;
    line-height: 35px;
    font-size: 20px;
    padding-top: 60px;
}

.proposta-cliente{
    margin-left: 450px;
    margin-top: -200px;
    height: 650px;
    
}
.prova{
    position: absolute;
    bottom: 210px;
    background-color:#0061ff ;
    padding: 4px 8px;
    color: white;
}
.annulla{
    position: absolute;
    bottom: 140px;
    font-size: 20px;
}
.arrow{
   font-size: 60px;
    position: absolute;
    bottom: 60px;
}  

/* inizio main */

/* prima sezione */
.business{
    height: 900px;
    position:relative;
}
.piano-dropbox{
   
    position: absolute;
    
    
    top: 280px;
    left: 300px;
    font-size: 50px;

}
.scelta{
    position: absolute;
    top: 44%;
    left: 16%;
    font-size: 23px;
   
   
}
.annuale{
    margin-left: 18px;
}

